@media  (min-width: 641px) {
    #root-container {
        width: 625px;
        height: 469px;
    }
    
    #top-content-container, #left-content-container, #right-content-container {    padding: 2.44rem;}
    #left-content-container, #right-content-container {    width: 50%;}
    .top-content-header, .top-content-subheader {    padding-top: 0.5rem;}
    .top-content-header, .left-content-header {     padding-bottom: 1rem;}
    #top-content-container {    padding-top: 2rem;}
    .top-content-header {    font-size: 1.5rem;}
    .left-content-header {    font-size: 1.08rem;}
    .left-content-paragraph {    font-size: 0.96rem;}
    
    .top-content-subheader {
        font-size: 1.125rem;
        padding-bottom: 0.5rem;
    }
    
    .top-content-list {
        font-size: 1rem;
        line-height: 1.5rem; 
    }    
}

@media  (max-width: 640px) {
    #root-container {
        width: 312px;
        height: fit-content;
    }
    
    #top-content-container, #left-content-container, #right-content-container {   padding: 1.5rem;}
    #left-content-container {    padding-bottom: 1.5rem;}
    .left-content-paragraph {    font-size: 0.975rem;}
    #right-content-container {    padding-bottom: 1.6rem;}   
    
    #left-content-container, #right-content-container {
        width: 100%;
        padding-top: 1.6rem;
    }

    #top-content-container {
        padding-top: 1.6rem;
        padding-bottom: 1.9rem;
    }

    .top-content-header {
        font-size: 1.22rem;
        padding-bottom: 1.5rem;   
    }

    .top-content-subheader {
        font-size: 0.92rem;
        line-height: 1.2rem;
        padding-bottom: 1.2rem;          
    }

    .top-content-list {
        font-size: 0.858rem;
        line-height: 1.61rem;    
    }

    .left-content-header {
        font-size: 1.1rem;
        padding-bottom: 1.1rem;
    }
}

body, main, div, h1, h2, h3, p, ul, li {
    padding: 0px;
    margin: 0px;
}
* {
    box-sizing: border-box;
    position: relative;
}

.top-content-header, .top-content-subheader, .left-content-header, .left-content-price, .right-content-header {    font-weight: 700;}
.left-content-header, .left-content-price, .left-content-paragraph, .left-content-button, .right-content-header {    color: white;}
#left-content-container,  #right-content-container, .left-content-price, .left-content-period {    display: inline-block;}
.left-content-price, .left-content-period, .right-content-header {    vertical-align: middle;}
.top-content-list, .right-content-list {    list-style-type: none;}
#root-container, #top-content-container {    background-color: white;} 
#root-container, .left-content-button {    margin: auto;}
.left-content-period, .right-content-list {    color: hsl(204, 43%, 93%);}
.left-content-period, .left-content-button {    font-size: 1rem;}
.top-content-header {    color: hsl(179, 62%, 43%);}
.top-content-subheader {    color:  hsl(71, 73%, 54%);}
.top-content-list {    color: hsl(218, 22%, 67%);}
#left-content-container {    background-color: hsl(179, 62%, 43%);}
.left-content-paragraph {    padding-top: 0.5rem;}
.left-content-button:hover {    opacity: 90%;}
#right-content-container {    background-color: hsla(179, 62%, 43%, 80%);}
.right-content-list {    font-size: 0.86rem;}

#left-content-container, #right-content-container {
    height: 55%;
    vertical-align: bottom;
}

body {
    background-color: hsl(204, 43%, 93%);
    font-family: karla, monospace;
    font-size: 16px;
    display: flex;
    min-height: 100dvh;
    justify-content: center;
    align-items: center;
}

#wrapper-block {
    width: fit-content;
    height: fit-content;
}

#root-container {
    font-size: 0rem;
    border-radius: 0.5rem;
    overflow: hidden;    
}

#top-content-container {
    width: 100%;
    height: 45%;
}

.left-content-price {
    font-size: 2rem;
    padding-right: 0.7rem;
}

.left-content-button {
    height: 2.9rem;
    width: 100%;
    background-color: hsl(71, 73%, 54%);
    border-radius: 0.3rem;
    display: block;
    text-align: center;
    line-height: 2.9rem;
    margin-top: 2rem;
    box-shadow: 7px 3px 15px 2px rgba(0,0,0,0.20);
    -webkit-box-shadow: 7px 3px 15px 2px rgba(0,0,0,0.20);
    -moz-box-shadow: 7px 3px 15px 2px rgba(0,0,0,0.20);
}

.right-content-header {
    font-size: 1.1rem;
    padding-bottom: 1rem;
}

.right-content-list li {
    padding-top: 0.13rem;
    padding-bottom: 0.13rem;   
}