body, section, main, card, container, p, h1, footer, a {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
    position: relative;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

html {
    font-size: 15px;
}

body {
    min-height: 100dvh;
    min-width: 100dvw;
    font-family: 'Outfit', sans-serif;
}

section {
    min-height: 100dvh;
    min-width: 100%;
    background-color: hsl(212, 45%, 89%);
    box-shadow: 0.75rem 0.75rem 1.65rem -1.65rem rgba(0,0,0,0.6);
    -webkit-box-shadow: 0.75rem 0.75rem 1.65rem -1.65rem rgba(0,0,0,0.6);
    -moz-box-shadow: 0.75rem 0.75rem 1.65rem -1.65rem rgba(0,0,0,0.6);
}
@media screen and (min-width: 781px) {
    section {
        min-height: 85dvh;    
        min-width: 90dvw;
    } 
}


/* QR card */

card {
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.5rem;
    height: 33.2rem;
    width: 21.4rem;
    padding: 1rem;
    box-shadow: 0.75rem 0.75rem 1.65rem -1.65rem rgba(0,0,0,0.6);
    -webkit-box-shadow: 0.75rem 0.75rem 1.65rem -1.65rem rgba(0,0,0,0.6);
    -moz-box-shadow: 0.75rem 0.75rem 1.65rem -1.65rem rgba(0,0,0,0.6);
}

container {
    width: 100%;
}

.qr-container {
    height: 62.18%;
    border-radius: 0.75rem;
    overflow: hidden;
}

.qr-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;  
}

.cta-container {
    height: 37.82%;
    background-color: transparent;
}

.black-h1 {
    height: 50%;
    width: 87.5%;
    margin-top: 0.7rem;
    font-size: 1.478rem;
    opacity: 80%;    
}

.instruction    {
    height: 50%;
    width: 90%;
    opacity: 50%;
    justify-content: start;
    font-size: 1.029rem;
}

footer {
    font-size: 0.733rem;
    flex-direction: row;
}

.attribution a { color: hsl(228, 45%, 44%); }