
html, body {
    background-color: black;
    margin: 0rem;
    padding: 0rem;
}

img {
    border: 5px solid white;
    transition: 1000ms;
    max-height: calc(100dvh - 7rem);
    max-width: calc(100dvw - 1rem);
    object-fit: contain;
}

img:hover {
    rotate: 180deg;
}

h1, p {
    color: white;
    text-align: center;
    margin: 0;
}

h1 {
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    margin: 1rem;
}

div {
    margin: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100dvw - 0.5rem);
    height: calc(100dvh - 1rem);
}