* {
    margin: 0;
  }

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: #1F1F1F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

header {
    background-color: transparent;
    color: #E3AD24;
}

.attribution {
    color: #83829E;
    font-family: monospace;
}

a {
    color: #9EB346;
    font-family: inherit;
}

.day-container {
    border: 2px solid white;
    color: white;
}
